*{
    text-decoration: none;
    font-family: "Poppins", Calibri;
}

body{
    background-color: blue;
    padding: 20px;
    margin: 20px;
    color: white;
}
/* All buttons effects */
button{
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    width: 15%;
    height: 10%;
    background-color: purple;
    outline: none;
    color: whitesmoke;
    margin-top: 2%;
    box-shadow: 2px 2px 5px violet;
}

label{
    font-size: larger;
    font-weight: 300;
    padding: 5%;
}

b{
    color: pink;
}

/* All inputs effect */
input{
    border: none;
    border-bottom: 1px solid black;
    padding: 2%;
    margin-top: 1%;
    margin-right: 4%;
    height: 4%;
    background-color: grey;
    font-size: large;
    color: white;
    outline: none;
    box-shadow: 3px 3px 5px grey;
    cursor: pointer;
    
}

/* All details et summary effects */
details > summary{
    cursor: pointer;
    outline: none;
}


::placeholder{
    color: white;
}

@media(max-width:650px){
    input{
        margin-bottom: 4%;
        padding: 5%;
    }
    button{
        width: 50%;
        height: 10%;
    }

    /* the homepage */
    .welcm{
        width: 80%;
        padding: 4%;
    }

    /* make label responsive */
    label{
        padding: 2%;
    }

    /* make the inches and heights inputs mobile responsive */
    #inches, #feets, #inches2, #feets2, #mass, #g{
        width: 30%;
        padding: 1%;
    }

    ::placeholder{
        font-size: 55%;
    }
}